<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="SampleDatabaseWalkthrough.Properties.Settings.SampleDatabaseConnectionString"
			 connectionString="Server=(LocalDB)\MSSQLLocalDB;
                           Integrated Security=true;
                           AttachDbFilename={DB_PATH};
                           Database=RetailRythmDB;
                           MultipleActiveResultSets=True;"
			 providerName="System.Data.SqlClient" />
		<add name="RetailRythmDBMaster"
			connectionString="Server=(LocalDB)\MSSQLLocalDB;
                           Integrated Security=true;
                           Database=master;"
			providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>
