<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
	<add name="SampleDatabaseWalkthrough.Properties.Settings.SampleDatabaseConnectionString"
		connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\RetailRythm.mdf;Integrated Security=True"
		providerName="System.Data.SqlClient" />
</connectionStrings>